<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main">
<head>
    <!--/*@thymesVar id="pageTitle" type="java.lang.String"*/-->
    <title th:text="${pageTitle}"></title>

</head>
<body>
    <div layout:fragment="content">
        <!-- Body content -->
        <div class="container">
            <div class="text-center">
                <h1>Task Manager</h1>
                <p class="lead" th:text="${pageTitle}">This is an early version of my personal tasks manager website</p>
            </div>
        </div>
        <div class="container">
            <div class="panel panel-default">
                <!-- Table -->
                <table class="table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Artist</th>
                            <th>Duration</th>
                            <th>Size</th>
                            <th>Link</th>
                        </tr>
                    </thead>
                    <tbody>
                    <!--/*@thymesVar id="musics" type="java.util.List<com.softnaptics.training.domain.Music>"*/-->
                        <tr th:each="music : ${musics}">
                            <td th:text="${music.getTitle()}">Title</td>
                            <td th:text="${music.getArtist()}">Artist</td>
                            <td th:text="${music.getDuration()}">Duration</td>
                            <td th:text="${music.getSize()}">Size</td>
                            <td><a th:href="@{${music.getLink()}}">Link</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>