<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main">
<head>
    <title th:text="${pageTitle}"></title>
</head>
<body>
    <div layout:fragment="content">
        <article>
            <!--/*@thymesVar id="task" type="com.softnaptics.training.domain.Task"*/-->
            <header class="page-header">
                <h1 th:text="${task.name}">Task name</h1>
                <p th:text="|Created on ${#calendars.format(task.creationDate, 'dd MMM yyyy')}|">creation date</p>
            </header>
            <section class="lead" th:text="${task.description}">
                Task description
            </section>
            <footer>
                <p th:text="|The task begins at ${#calendars.format(task.startDate, 'dd MMM yyyy')}|">start date</p>
                <p th:text="|The task ends at ${#calendars.format(task.endDate, 'dd MMM yyyy')}|">end date</p>
            </footer>
        </article>
    </div>
</body>
</html>