<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main">
<head>
    <title>Calcul impots</title>
</head>
<body>
    <div layout:fragment="content">
        <article>
            <!--/*@thymesVar id="task" type="com.softnaptics.training.domain.Task"*/-->
            <header class="page-header">
                <h1>Calcul impôts</h1>
            </header>
            <section class="lead">
                <form action="" method="post">
                    <div class="form-group">
                        <label for="amount">Montant</label>
                        <input id="amount" class="form-control" type="number" name="amount" placeholder="Montant de vos revenus" />
                    </div>

                    <input type="submit" class="btn btn-primary" value="Calculer" />
                </form>
            </section>
            <p></p>
            <p></p>
            <section class="alert alert-success" th:if="${result}">
                <label th:text="'Le montant de l\'impot s\'élève à '+${#numbers.formatDecimal(result, 3, 'POINT', 2, 'COMMA')}+'€'">Resultat</label>
            </section>
        </article>
    </div>
</body>
</html>